HOST=127.0.0.1
PORT=3000

# Log levels
# trace - super detailed, evey tiny thing
# debug - Detailed info useful during development
# info - General info (Sever started, request received, etc..)
# warn - Something unusual but not breaking
# error - Something broke

# No `RUST_LOG` set
# defaults to: info, warn, error (skips debug and trace)

RUST_LOG=info #format RUST_LOG=level,crate_name=level,another_crate=level
